<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Project Proposal

# Study of Trends among Ownership and Uses of Digital Devices and Social Media  by Aik Lok

## Motivation and background

<div class="alert alert-block alert-warning">
Give an overview of the project, motivation, background and goals.
</div>

# Order of which to go about things
1. ### Look thru datasets and type out what they mean
1. ### read seniors's proposals and see their methodologies
1. ### propose questions
1. ### write down methodologies
1. ### finish motivation.
1. ### rethink thru what references you will need

## Summary of Research Questions

<div class="alert alert-block alert-warning">
Give a numbered list of two or more research questions. Each one should be a specific question with a specific answer, not merely a general topic or area of investigation. The question should be clear and precise. In 1-3 sentences per research question, state what are you trying to compute, and why. 
</div>

1. Question 1 here
2. Question 2 here etc

Since the survey is quite comprehensive, there may be extreme changes to the questions proposed.

## Dataset

### Description of data source

<div class="alert alert-block alert-warning">
Numbered list of dataset (with downloadable links pointing to the exact dataset you will be using). 

For each link, briefly describe the dataset that will be used in the project. 
    
The data must be real — neither you nor someone else may make up the data. Do not manually perform any data cleaning steps — all data cleaning should be done programmatically, by Python code that you write. That is, you should not be searching in csv files in excel and filling in empty boxes or changing strings to numbers etc. It is possible that cleaning your data will be a big part of the code you write for your project! 
</div>

1. - Actual data can be downloaded from: https://data.amerigeoss.org/dataset/technology-access-and-adoption-survey-2018 
    - list of values and corresponding meanings can be found in "2018Codebook.xlsx" at the official Seattle's governing body's site https://data.seattle.gov/Community/Technology-Access-and-Adoption-Survey-2018/cz6d-tu92 
    - List of survey questions can be found at https://seattle.gov/documents/Departments/Tech/DigitalEquity/TechAccessAdoptionStudy/Seattle%20IT%20Connectedness%20Study_Mail%20Version.pdf. 

    This data contains "responses from 4315 Seattle residents to a comprehensive survey about access to broadband internet, devices ownership, online activities, digital skill levels, concerns and barriers to use, and civic engagement preferences", quoting the official website, conducted in 2018. Another survey of similar fashion will be conducted by the Seattle governing body again later this year (2023).


2. Actual data and list of list of survey question: https://data.world/jordanageorge/pew-2012-cellphone-survey. 

    This data contains responses from a survey from 2.2k respondents conducted by Princeton Survey Research about smartphone ownership and online activities, as well as ownership and usage of cellphones, conducted in 2012.

Both datasets are in the form of each column being a question or subquestion asked, and each number in said given column corresponding to a response, they will have to be cleaned a lot before they can be considered "usable". All relevant files should be attatched along with this proposal. 

Final chosen datasets may change due to lack of certain types of data (numerical or otherwise).

### Data Display

<div class="alert alert-block alert-warning">
Summarize / Show the data files which will be used in the project. 

The data should be saved in `.xlsx` or `.csv` format to be submitted with the proposal. Import and display each dataset in a dataframe.

If you intend to scrape data, please list the websites you are scraping and a brief overview of data you wish to import. You need not finish scraping by the deadline for proposal submission, but there should be some starter code.
    
For each dataset, give a brief overview of the data it contains, and explain the meaning of each column that is relevant to the project.
</div>

### Since both datasets contains hundreds of columns, I will only point out a few key questions in each rather than specifying all of them. For a comprehensive list of all values, refer to the relevant attached documents.

`Dataset1.csv` contains:

* Some personal details such as: 
    - Age group
    - Scientific Gender
    - Race
    - Employment status
    - Education status
    - Annual household income
    - some other personal details (name not included)
* Most recent use of internet by family members and respondant
* Reasons for lack of internet usage (if applicable)
* Frequency of using the internet according to activity
* How competent they are at using the internet themselves

In [2]:
import pandas as pd
df1 = pd.read_csv("Dataset1.csv")
df1.head()

C:\Users\user\AppData\Local\Temp\ipykernel_13236\3293581854.py:2: DtypeWarning: Columns (106) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("Dataset1.csv")

,_id,ID,samplegroup,qzip,CD,l,q1,q2a_1,q2a_2,q2a_3,...,have_data_cell_plan,only_data_cell_plan,free_access_net,free_access_and_paid_subscription,other_access,without_internet_subscription,free_access_and_no_paid_sub,no_internet_access,unknown_service,no_response
0,1,2858,1,98125,5,9.0,1,1,2,3,...,0,0,0,0,0,0,0,0,0,0
1,2,2859,4,98101,7,9.0,1,2,3,4,...,0,0,0,0,0,0,0,0,0,0
2,3,2860,1,98144,3,NaN,1,0,2,3,...,1,1,1,1,0,0,0,0,0,0
3,4,2861,4,98199,7,9.0,1,2,3,4,...,0,0,0,0,0,0,0,0,0,0
4,5,2862,3,98112,3,NaN,1,0,2,3,...,0,0,0,0,0,0,0,0,0,0

#### The dataframe below is not data, it is a preview of the excel file that states what each value in a certain column correspond to for `Dataset1.csv`

In [3]:
df1desc = pd.read_excel("Dataset1ValueMeanings.xlsx", 2)
df1desc.head()

,Name,StandardAttribute,Weight,Value,Label
0,ID,ID,NaN,NaN,NaN
1,samplegroup,Sample Group,Either (Household or Individual),1.0,GENERAL POPULATION
2,samplegroup,Sample Group,Either (Household or Individual),2.0,TARGET POPULATION
3,samplegroup,Sample Group,Either (Household or Individual),3.0,SEATTLE HOUSING AUTHORITY
4,samplegroup,Sample Group,Either (Household or Individual),4.0,SEATTLE PUBLIC SCHOOLS

`Dataset2.csv` contains:

- Personal information such as:
    * Exact Age (all participants are above 18 years old)
    * Scientific Gender (it was assumed and not explicitly asked)
    * Marital status
    * Number of Children and age range (if applicable)
    * Education status
    * Employment status
    * Race
    * Annual household income
- Current quality of life (based on their own view)
- Ownership status of computer types
- Reason for owning a cellphone over smartphone (if applicable)
- Reliance level on cellphone (if applicable)
- Type of cellphone owned (if applicable)
- Most & Least Favourite thing about cellphone (if applicable)
- Online activities (such as using Twitter/X or looking at the news)
- Whether they sleep with their cellphone next to their bed
- Frequency of checking cellphone

It is to be noted, once again, that this survey was conducted in 2012, when the first iPhone (most prominent smartphone) was released 5 years prior, so functionalities will not be extensive and most social media platforms to not exist. It may be likely this dataset will be scrapped in the final product.

Sidenote (mostly for myself): Although the data is messier in this dataset, the columns are arranged in the order stated in the word document so it is still possible to find the corresponding columns and values.

In [4]:
df2desc = pd.read_csv("Dataset2.csv")
df2desc.head()

,psraid,sample,lang,FIPS,state,cregion,usr,form,sex,q1,...,qc1,qc2hh,q12a_verbatim,q12a_coded,q12b_verbatim,q12b_coded,i_usernw,SmartPhone,weight,standwt
0,100010,1,1,12085,12,3,S,2,1,1,...,,,,,,,1,3,2.535714,0.805005
1,100011,1,1,36005,36,1,U,2,2,4,...,,,,,,,0,3,4.642857,1.473952
2,100015,1,1,42097,42,1,R,1,2,4,...,,,,,,,0,3,1.785714,0.566905
3,100034,1,1,36103,36,1,S,2,1,4,...,,,,,,,0,3,2.750000,0.873033
4,100035,1,1,12085,12,3,S,2,1,3,...,,,,,,,0,3,2.964286,0.941062

## Methodology

<div class="alert alert-block alert-warning">
For each research questions shortlisted, briefly explain / outline how do you plan to answer the questions.
</div>

Since the 2 survey was done more than half a decade apart, it is safe to assume that no respondants can be considered as duplicates. Both files have a few coulmns in common such as age which can be merged on.

## References

<div class="alert alert-block alert-warning"> Cite any references / links you may use for the project.
</div>

1. https://wordpress.com/support/markdown-quick-reference/ (you may refer to this link on markup for Jupyter when formatting your proposal)
2. Links in `Description of data source` subsection for datasets and the questions linked to each column

(Nothing else I can think of for now)

<hr>
© NUS High School of Math & Science